@import '../style/foundation/typography';
@import '../style/foundation/colors';
@import '../style/foundation/spacing';

:global(.ais-RefinementList__root) {
  margin-bottom: spacing(tight);
}

:global(.ais-RefinementList__items) {
  display: flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

:global(.ais-RefinementList__item label),
:global(.ais-RefinementList__itemSelected label:hover) {
  cursor: pointer;
  margin-right: spacing(base);
  margin-bottom: spacing(tight);
  background-color: color(gray, lighter);
  color: color(gray, dark);
  padding: 0.3em 0.7em;
  border-radius: 20px;
  font-size: font-size(filter, refinement);
  transition: all 100ms linear;
}

:global(.ais-RefinementList__item label:hover) {
  background-color: darken(color(gray, lighter), 5);;
}

:global(.ais-RefinementList__itemSelected label) {
  background-color: color(gray);
  color: white;
}

:global(.ais-RefinementList__itemCheckbox) {
  display: none;
}

@mixin link() {
  color: color(accent);
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  border: none;
  padding: 0;
  font-size: font-size(body);
  font-weight: 500;
  font-family: font-family(base);
}

@mixin selected-link() {
  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 100%;
    height: 3px;
    background: color(accent-2);
  }
}

:global(.ais-RefinementList__itemLabel) {
  margin-right: 3px;
}

:global(.ais-RefinementList__itemLabelSelected) {
  @include selected-link();
}

:global(.ais-RefinementList__itemSelected .ais-RefinementList__itemCount) {
  color: transparent;
}

:global(.ais-RefinementList__itemSelected .ais-RefinementList__itemCount::after) {
  display: none;
}

:global(.ais-RefinementList__itemSelected .ais-RefinementList__itemCount::before) {
  content: "x";
  vertical-align: middle;
  appearance: none;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  background-color: lighten(color(gray), 20);
  border-radius: 30px;
  border: none;
  display: inline-block;
  top: 0;
  left: 0;
  position: absolute;
  height: 15px;
  width: 15px;
  padding: 0;
  font-size: 11px;
  color: color(gray, lighter);
  transition: all 100ms linear;
}

:global(.ais-RefinementList__itemCount::before) {
  content: "[";
}

:global(.ais-RefinementList__itemCount::after) {
  content: "]";
}

:global(.ais-RefinementList__itemCount) {
  position: relative;
  border-radius: 31px;
  font-size: font-size(filter, itemCount);
}

:global(.ais-RefinementList__showMore) {
  @include link();
  font-size: 0.9em;
}
