@import '../style/foundation/typography';
@import '../style/foundation/colors';
@import '../style/foundation/spacing';

.Header,
.CfpHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formLabel {
  font-size: 1.5em;
  margin-top: spacing(base);
  margin-bottom: spacing(base);
  position: relative;
}

.formLabel::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background: color(accent-2);
}

.formInput {
  padding: 10px;
  font-size: font-size(body);
  background-color: #ffffff;
  border: 1px dashed color(gray, lighter);
  margin-left: spacing(loose);
  margin-bottom: spacing(tight);
  font-family: inherit;
}

.formSubmit {
  font-size: 1.4rem;
  font-family: inherit;
  padding: 10px;
  background: none;
  display: block;
  margin-top: spacing(extra-loose);
}

.formDatePicker {
  display: inline-block;
}

:global(.g-recaptcha) {
  margin-top: spacing();
}

.error {
  border-color: red;
  color: red;
}
